* {
	-moz-box-sizing: border-box;
	box-sizing:border-box;
}
body {
	min-width:1024px;
	background-color:black;
}
header {
	width:100%;
	background-image:url(../images/4352933.png);
	background-repeat:repeat-x;
	background-position: 0 -34px;
}
.mainWrapper {
	background-image:url(../images/4350848.png);
}
main {
	/*background-image:url(../images/586772.png);*/
	background-color:rgba(255,255,255,0.85);
	overflow:hidden;
}
.headerTop.screenWidth {
}
.headerTop {
	height:154px;
	position:relative;
}
header h1 {
	font-size:48px;
	padding-top:16px;
	margin-left:32px;
	color:white;
}
header h2 {
	color:white;
	margin-left: 64px;
}
.ad {
	background-color:white;
	border:1px solid black;
	text-align:center;
}
.skyscraperAd {
	width:100px;
	height:300px;
	margin: 16px auto;
}
.horizontalAd {
	position:absolute;
	top:32px;
	right:32px;
	width:728px;
	height:90px;
}
.nav {
	background-image:linear-gradient(0deg,rgb(60,125,188),white);
}
nav {
	width:100%;
}
nav ul {
	padding-left:0;
	margin-left:0;
}
nav li {
	list-style-type:none;
	display:inline-block;
	border:1px solid black;
	padding: 5px 16px 5px;
	margin:0px;
	text-align:center;
	cursor:pointer;
}
nav li:hover {
	background-color:#C2EFF0;
}
nav a {
	text-decoration:none;
	color: black;
	text-transform: uppercase;
	text-align:center;
}
.outer {
	box-sizing:border-box;
	padding:0;
/* 	background-color:orange; */
	position:relative;
}
.activityTypeDiv {
	width:60%;
	float:right;
	padding:32px 16px;
}
.outerFormDiv {
	width:40%;
	overflow:hidden
}
.formDiv {
	float:right;
	width:75%;
	padding:16px;
}
.leftSidebar {
	width:25%;
	padding:16px;
}
.formDiv td:first-child {
	text-align:right;
}
.formDiv table {
	border-spacing:10px;
}
.formDiv td {
	padding:10px;
}
.formDiv label {
	font-weight:bold;
}
/* Select the submit button  */
tr:last-child td:last-child {
	text-align:center;
}
/* Make the sliders less wide*/
input[type="range"] {
	width:100px;
}
input[type="text"] {
	width:120px;
}
input[type="submit"], input[type="reset"] {
	width:80%;
}

.submitActivityType {
	text-align:center;
	background-color:blue;
	width:80%;
	display:inline-block;
}

.submitActivityType:hover {
	cursor:pointer;
}

.screenWidth {
	width:100%;
}

/**
1366px - 13px scrool bar = 1353px;
*/
.fixedWidth {
	width:1353px;
	margin-left:auto;
	margin-right:auto;
}

.fatFooterWrapper {
	clear:both;
}

.footerWrapper {
	background-color:black;
}

footer {
	color:white;
	text-align:center;
}

/* Format the activity type table  */
.activityTypeDiv table {
	border-spacing:0px;
	border-collapse:collapse;
	table-layout: fixed;
	word-wrap: break-word;
	width:100%;
}

.activityTypeDiv td, .activityTypeDiv th {
	border:1px solid black;
	padding:10px;
	text-align:center;
/* 	overflow:hidden; */
}

.controlsColumn {
	width:100px;
}

.outdoorsyColumn, .recreationalColumn, .expensiveColumn, .riskyColumn, .socialColumn {
	width:80px;
}

.nameColumn {
	width:150px;
}

.timeConsumptionColumn {
	width:90px;
}

.activityTypeDiv thead tr, .activityTypeDiv tbody tr:nth-child(even) {
	background-color:rgb(192,46,108);
}

.activityTypeDiv tbody tr:nth-child(odd) {
	background-color:rgb(246,176,67);
}

.helpIcon {
	background-color:cyan;
}

.clickable {
	cursor:pointer;
}

.scrollToTopButton {
	position:fixed;
	right:16px;
	bottom:16px;
	width:64px;
	height:64px;
	display:none;
	cursor:pointer;
}

.currentIcon {
	display:none;
}

.editIcon, .deleteIcon {
	text-align:left;
	cursor:pointer;
}

/* todo: style table, 
set up background colors/patterns.
style the submit button.
get sliders in place of range values.
*/ 