* {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
/* 	border:1px solid black; */
}
.centered {
	width:1024px;
	margin:0 auto;
}
.fullWidth {
	width:100%;
}
.firstTwoColumns {
/* 	1024-160=864 */
	width:864px;
	float:left;
	overflow:hidden;
}
main {
	float:right;
	width:704px;
	padding:1em;
}
aside {
	width:160px;
}
.secondAdColumn {
	margin-left:864px;
}
.wrapper {
	overflow:hidden;
}
.verticalAd {
	height:600px;
	width:160px;
}
header, .footerWrapper, .footerWrapper .centered, header div {
	height:160px;
}
h1 {
	padding-top:1.4em;
}
.footerWrapper .centered {
	position:relative;
	text-align:center;
}
footer {
	position:absolute;
	bottom:0;
	left:auto;
	right:auto;
}

/* For the forms */
form label,form span {
	width:200px;
	display:inline-block;
	margin:8px 0;
}
form input[type="file"] {
	width:400px;
}
form input[type="submit"] {
	margin:16px 0;
}
form input, form select {
	width: 200px;
	display:inline-block;
}

.arrowToggle {
	width:24px;
	height:24px;
	cursor:pointer;
}

textarea {
	width:400px;
	height:68px;
}