
html, body {
	background-color:cyan;
}
main {
	background-color:white;
}
.verticalAd {
	background-color:white;
	text-align:center;
}
header, .footerWrapper {
	background-color:black;
}
h1 {
	color:white;
	text-align:center;
	font-size:36px;
}
h2 {
	font-size:24px;
	margin:1em 0;
}
footer {
	color:white;
	text-align:center;
}
p {
	text-align:justify;
	line-height:160%;
	margin:1em 0;
}
.wrapper {
	background-color:white;
}